
/* google.com/fonts import files go above this line ^

=== Project Info =====
Project:	
Edit date:

======= Color ========
Primary Color: 
Secondary Color: 
Third Color: 
Grey:

===== Typography ======
Font Family:
Weights:

*/
/* body
================= */
body {
	background: #fff;
}
/* Nav / Menus
================= */
nav {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    text-align: center;
    border-top: solid 1px #303030;
	background: #000;
}
nav ul {
    margin-left: auto;
    margin-right: auto;
	padding: 0;
    list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin: 2px 8px 2px 0px;
	
}
nav ul li a {
	color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
    padding-top: 1.618em;
    padding-bottom: 1.618em;
    padding-left: 1.618em;
    padding-right: 0;
}
.footermenu {
    text-align: center;
    border-top: solid 1px #303030;
	background: #000;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}
a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}
.navbar-default {
    background-color: #000;
    border: 0;
    margin-bottom: 0;
}

/* Header
================= */
.head-banner {
	background: #fff;
}


/* Content
================= */
.the-body a {
    color: #6b8cad!important;
}
.the-body img {
	padding-top: 15px;
	padding-bottom: 15px;
}
.post-title-styles {
	font-weight: bold;
	font-size: 32px;
	text-decoration: none;
}
a.post-title-styles img {
    padding-top: 30px;
    }
a.post-title-styles img {
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: solid 1px #303030;
    margin-bottom: 60px;
	}

/* Content
================= */
.post-title-styles {
	font-weight: bold;
	font-size: 32px;
	text-decoration: none;
}

/* Footer
================= */
footer {
  font-size: 13px;
  background: #edeff0;
  margin-top: 30px;
}
footer i {
  color: #da2028;
}
footer ul {
  list-style: none outside none;
}
footer ul li {
  padding: 10px 0;
}
footer a {
  color: #000;
}
.foot-btn {
    line-height: 3em !important;
    padding: 0 1em !important;
    font-weight: 700 !important;
    background-color: #da2128 !important;
    color: #ffffff !important;
    border: 1px solid #da2128 !important;
      -o-transition: .3s;
      -ms-transition: .3s;
      -moz-transition: .3s;
      -webkit-transition: .3s;
    transition: .3s;
    border-radius: 0;
}
footer h3 {
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  line-height: inherit;
  color: #333;
  text-transform: none;
}

/* Breadcrumb
================= */
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}









/*overwrite bootstrap*/
.nav-tabs>li>a {
  border-radius: 25px 4px 0 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  font-weight: bold;
	color: #000;
}

.container {
  max-width: 1470px;
}

.margin-top {
  margin-top: 100px;
}

.box-br {
  border: 1px solid #e1e1e1;
  border-radius: 25px 0px 25px 0px;
  padding: 50px 15px 60px 15px;
  margin-bottom: 30px;
}

.fa-download {
  border-right: solid 1px #99bcdb;
  padding-right: 9px;
  line-height: 20px;
  margin-right: 6px;
  font-size: 20px;
  vertical-align: sub;
}

.btn-download {
  background-color: #ffffff;
  border-color: #e1e1e1;
  
  color: #337ab7;
  text-align: left;
  border-radius: 15px 0 15px 0;
  margin-bottom: 1px;
}
.btn-download:hover,
.btn-download:focus,
.btn-download:active,
.btn-download.active {
  background-color: #ebebeb;
  border-color: #ebebeb;
  
  color: #337ab7;
}

/*tab responsive*/
.responsive-tabs {
  margin-top: 0px;
}

.responsive-tabs-container .tab-content {
	padding: 15px 15px 0px 15px;
  border:1px solid #ddd;
  border-top:none;
  border-radius: 0 0 25px 0;
  background-color: #fff;
}

.responsive-tabs-container[class*="accordion-"] .tab-pane {
  margin-bottom: 15px;
  font-weight: bold;
}

.responsive-tabs-container[class*="accordion-"] .accordion-link {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #337ab7;
}

.responsive-tabs-container[class*="accordion-"] .accordion-link.active {
    border-bottom: medium none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #333;
    font-weight: bold;
}

@media (max-width: 767px) {
  .responsive-tabs-container.accordion-xs .nav-tabs {
    display: none;
  }
  
  .responsive-tabs-container.accordion-xs .accordion-link {
    display: block;
  }
  
  .responsive-tabs-container[class*="accordion-"] .tab-pane {
    border:1px solid #ddd;
    border-top:none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: medium 1px 1px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 30px 15px;
 }
}

/*@media (min-width: 768px) and (max-width: 991px) {*/
@media (min-width: 768px) and (max-width: 767px) {
  .responsive-tabs-container.accordion-sm .nav-tabs {
    display: none;
  }
  
  .responsive-tabs-container.accordion-sm .accordion-link {
    display: block;
  }
  
  .responsive-tabs-container[class*="accordion-"] .tab-pane {
    border:1px solid #ddd;
    border-top:none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: medium 1px 1px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 30px 15px;
 }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .responsive-tabs-container.accordion-md .nav-tabs {
    display: none;
  }
  
  .responsive-tabs-container.accordion-md .accordion-link {
    display: block;
  }
}

@media (min-width: 1200px) {
  .responsive-tabs-container.accordion-lg .nav-tabs {
    display: none;
  }
  
  .responsive-tabs-container.accordion-lg .accordion-link {
    display: block;
  }
}

@media (max-width: 767px) {
.responsive-tabs-container .tab-content {
  padding: 30px 0px;
  border:0px solid #ddd;
  border-top:none;
}
}
.nav-tabs>li>a {
    color: #337ab7;
    cursor: pointer;
    border: none;
		font-weight: normal;
}
li:hover {
  background-color: initial;
}
.nav-tabs>li>a:active {
  color: #000;
}
.object {
  margin-top: 15px;
}









@import url('https://fonts.googleapis.com/css?family=Muli:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

html, body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h1 {
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
}

a:focus {
	color: #000 !important;
}

#breadcrumbs {
	margin: 0;
}

#breadcrumbs li:last-child {
	margin-right: 0;
}

.object img {
	margin-bottom: 10px;
}

.btn-download {
	margin-bottom: 25px;
}

.tab-pad {
	padding: 0 41px;
}

@media (min-width: 767px){
.object p {
	min-height: 1px;
}
}

@media (min-width: 768px){
.object p {
	min-height: 70px;
}
}

@media (min-width: 1500px){
.object p {
	min-height: 45px;
}
}

@media (max-width: 992px){
.container {
	width: 100%;
}

.tab-pad {
	padding: 0 15px;
}

.autho {
	margin-left: -8px;
}
}

@media (max-width: 800px){
.btn-download {
	font-size: 11.5px;
}
}









/**********************************************************
Media Querys (480px, 768px, 990px, 1200px, 1500px, 2000px)
***********************************************************/

/* Smaller than
================= */

/* Applied to resolutions less than 2000 (3x) */
	@media (max-width: 2000px) {

	}

/* Applied to resolutions less than 1740 (2x) */
	@media (max-width: 1740px) {

	}

/* Applied to resolutions less than 1500 (Xl) */
	@media (max-width: 1500px) {

	}

/* Applied to resolutions less than 1200 (lg) */
	@media (max-width: 1200px) {

	}

/* Applied to resolutions less than 990 (md) */
	@media (max-width: 990px) {

	}

/* Applied to resolutions less than 768 (sm) */
	@media (max-width: 768px) {

	}

/* Applied to resolutions less than 480 (XS) */
	@media (max-width: 480px) {

	}

/* Larger than
================= */

/* Applied to resolutions larger than 2000 (3x) */
	@media (min-width: 2001px) {

	}

/* Applied to resolutions larger than 1500 (2x) */
	@media (min-width: 1501px) {

	}

/* Applied to resolutions larger than 1200 (xl) */
	@media (min-width: 1201px) {

	}

/* Applied to resolutions larger than 990 (lg) */
	@media (min-width: 991px) {

	}

/* Applied to resolutions larger than 768 (sm) */
	@media (min-width: 769px) {

	}

/* Applied to resolutions larger than 480 (xs) */
	@media (min-width: 481px) {

	}

/***************************************
Default Style Sheet created as part of - The Maui Toolbox
For more information visit: www.mauitoolbox.com
pub-20150501
***************************************/
